h1 a {
    text-decoration: none;
    :hover{
        color: #007856;
        cursor: pointer;
    }
}

.home-button {
    text-decoration: none;
    color: white;
}

.nav-link {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: center;
}

.welcome-nav {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}

.main-nav-item {
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
}

.active {
    background: rgb(230, 230, 230);
}