<h3>A propos de Matrimap</h3>

<p>
    Cet application a été développé dans le cadre de ma formation "Développeur Intégrateur Web - Full Stack Javascript" à l'IFOCOP de Paris, comme Projet Final pour présentation devant un jury. Son objectif est d’implémenter toutes les connaissances acquises pendant la formation et période d'aplication pratique en entreprise.
</p>

<p>
    Matrimap est une « Single Page Application » développé utilisant <a href="https://angular.io/">Angular 8</a> comme framework front-end et NodeJS comme une API RESTful. L'application et l'api utilisent Socket.io aussi pour le chat.
</p>
<p>
    Son visuel est basé sur la librairie de composants <a href="https://material.angular.io/">Angular Material</a>.
</p>
<p>
    Si vous voulez me contacter, vous me trouverez sur <a href="https://www.linkedin.com/in/willian-zolnowski/">LinkedIn</a>.
</p>