div {
    width: 100%;
}

.success {
    background: darkseagreen;
    color: darkgreen;
}

.error {
    background: hotpink;
    color: maroon;
}

.warning {
    background: burlywood;
    color: olive;
}

.neutral {
    background: white;
    color: black;
}