<h1>Bienvenu à Matrimap</h1>

<p>Matrimap est un réseau social dédiée aux fiancé(e)s et leur entourage, pour partager l'évolution de la préparation de leur marriage, faire ou chercher des récommandations entre membres, ou même coordonér les préparatifs.</p>

<h3>Activité:</h3>

<p>Messages publiées: {{liveStats.messages ? liveStats.messages : 'chargement...'}} </p>
<p>Membres connectés en ce moment: {{liveStats.onlineUsers ? liveStats.onlineUsers : 'chargement...'}}</p>

<p>Matrimap est un service gratuit, il suffit de renseigner vos informations basique dans le formulaire d'inscription pour ouvrir votre compte et commencer à utiliser.</p>