/* You can add global styles to this file, and also import other style files */

// $theme-colors: (
//   "primary": #007856,
//   "danger": #ff4136
// );

// * {
//     &:active,
//     :focus {
//       outline: none !important;  // 1
//     }
// }

// @import "../node_modules/bootstrap/scss/bootstrap.scss";

// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/grid";


//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material.
@include mat-core();

// Define the default theme
$matrimap-app-primary: mat-palette($mat-teal);
$matrimap-app-accent:  mat-palette($mat-amber, A200, A100, A700);
$matrimap-app-theme:   mat-light-theme($matrimap-app-primary, $matrimap-app-accent);

// Include the default theme styles.
@include angular-material-theme($matrimap-app-theme);


// Define an alternate theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}



html, body { height: 100%; max-width: 1024px; margin: auto; padding: 0 5px}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.notif-success {
    background: darkseagreen;
    color: darkgreen;
}

.notif-error {
    background: hotpink;
    color: maroon;
}

.notif-warning {
    background: burlywood;
    color: olive;
}

.notif-neutral {
    background: white;
    color: black;
}